.alerta{
    padding: .5rem;
    text-align: center;
    color: $negro;
    font-weight: $bold;
    text-transform: uppercase;
    margin: 1rem 0;
    
    &.error{
        background-color: $Nclaro;
    }

    &.exito{
        background-color: #9FC088;
        color: $negro;
    }
}


.accion{
    display: grid;
    justify-content:left ;
    
}

button{
    border: none;
    background-color: white;
    
}
.bi.bi-trash3{
    color: #e91e1e;
}

a.bi.bi-pencil-square{
    color: #055005;
    
}

td.finalizado{
color: #fff;
font: 12px lato, sans-serif;
background: #198754;
margin-top: 20px;
margin-bottom: 20px;
padding: 5px;
border-radius: 29px;


}


.fondo{
    max-width: 60%;
    margin: auto;
}

.borde{
    border-bottom-width: 1px ;
    margin-top: 30px;
}